#/* vim: set filetype=zsh : */

isrunning() {
    if [[ $# == 0 ]]; then
        echo -e "No program name given"
    else
        ps -eo euser,pid,%cpu,%mem,cputime,args | head -n1
        ps -eo euser,pid,%cpu,%mem,cputime,args | grep $1 -i | grep -v "grep"
    fi
}
